*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#navbar h1{
    font-size: 2.3rem;
    padding: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}
#navbar{
    width: 100%;
    height: 100vh;
    color: #eee;
    background: url(/assets/img/Showcase.jpg) no-repeat center center/cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}

.navbar-container{
    display: flex;
    width: 80%;
    height: 15%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.navbar-items{
    display: flex;
    padding: 10px;
    list-style: none;
}

.navbar-items li{
   padding: 20px;
}

.navbar-items i{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
#menu-mobile{
    visibility: hidden;
}
#image{
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #eee;
}

#image #image-container{
    align-items: center;
}

#image #image-container h2{
    font-family: 'Uchen', serif;
    font-size: 2.3rem;
    padding-left: 14%;
}

#image #image-container p{
    font-family: 'Uchen', serif;
    font-size: 1.6rem;
    padding-left: 14%;
    padding-right: 14%;
}

.button {
    margin-top: 2%;
    margin-left: 12%;
    border-radius: 4px;
    background-color:transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';  
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
    margin-left: 5px;
  }
 
#showcase{
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #222;
    padding: 20px;
}

.showcase-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.showcase-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.showcase-items p{
    text-align: justify;
}
.showcase-items img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.headline{
    font-family: 'Uchen', serif;
    color: #eee;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
}

#footer{
    display: block;
    background: #222;
    color: #eee;
    padding: 20px;
    text-align: center;
}  

@media(max-width: 600px) {
    #navbar{
        width: 100%;
    }
    .navbar-container{
        width: 100%;
    }
    .navbar-items{
        visibility: hidden; 
    }
    #navbar.active .navbar-container {
        display: inline-block;
    }
    #navbar.active #image #image-container{
        transition: all .15s ease;
        filter: blur(2px);
    }
    #navbar.active .navbar-container .navbar-items{
        visibility: visible;
        display: grid;
        font-size: 1.5rem;
    }
    #navbar.active .navbar-container .navbar-item{ 
        border-bottom: solid 1px #eee;
        overflow: hidden;
        text-align: center;
    }
    #navbar #menu-mobile{
        padding-top: 30px;
        font-size: 1.3rem;
    }
    #navbar h1{
        margin-left: 5%;
    }
    #menu-mobile{
        visibility: visible;
        margin-left: 35%;
        margin-bottom: 6%;
    }
    #image{
        height: 65vh;
    }
    #image #image-container h2{
        font-size: 1.5rem;
    }
    #image #image-container p{
        font-size: 1.1rem;
        padding-right: 50px;
        text-align: justify;
    }
    .button {
        margin-left: 9%
    }
    .showcase-container{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
    .showcase-items p{
        padding-top: 10px;
    }
}